* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1 {
  margin: 5%;
}
h2 {
  color: aqua;
  margin: 5%;
  font-size: 80px;
}
.cont {
  min-height: 100vh;
  background-color: rgb(79, 43, 43);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fundo {
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  height: 35%;
  width: 35%;
  background-color: rgb(255, 255, 255);
}
button {
  transition-duration: 0.4s;
  font-size: 16px;
  border-radius: 12px;
  margin: 10%;
  padding: 2%;
}

button:hover {
  background-color: #4caf50;
  color: white;
}

/* Professor o css nao esta pegando no blitz, porem no visual code sim...por isso estou colocando esse comentario para avisar */
